C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/scratch/rdhs.json
C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/raw/private/rdhs.json
/Users/jfreedman/Documents/github/RP-Malcomb/data/raw/private/rdhs.json
